.about {
    padding: 110px 0;
    &__wrap {
        background: linear-gradient(to right, #fff, #fff 22%, #EFEFEF 100%, #EFEFEF);
        padding: 75px 0;
        img {
            max-width: 430px;
            max-height: 430px;
            object-fit: cover;
            height: 100%;
            box-shadow: 0px 0px 48.5px 1.5px rgba(0, 0, 0, 0.2);
        }
        > .container {
            display: flex;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        &__title {
            font-size: 40px;
            font-weight: 900;
            margin-bottom: 45px;
            font-family: 'FuturaPTHeavy';
        }
        &__desc {
            font-size: 17px;
            font-weight: 400;
            line-height: 22px;
            max-width: 450px;
        }
    }
}