@import '../base/variables';
// -------------------------
// Block '.list'
// -------------------------
.list {
    &.list--circle {
        .list__item {
            padding-left: 30px;
            &:before {
                content: '';
                position: absolute;
                display: inline-block;
                left: 0;
                top: 2px;
                width: 17px;
                height: 17px;
                border-radius: 20px;
                background: #F79F55;
            }
            &:after{
                content: '';
                position: absolute;
                top: 6px;
                left: 4px;
                border-radius: 20px;
                width: 9px;
                height: 9px;
                background-color: #fff;
            }
        }
    }
    & &__item {
        position: relative;
        display: block;
        line-height: 21px;
        font-size: 17px;
        &+.list__item {
            margin-top: 20px;
        }
    }
}