// out: ../../../content/css/components/device.css, compress: true
@import '../variables.less';

// ------------------------------------------------
// Block '.panel'
// ------------------------------------------------
// iPhone X
@device-silver: #e2e3e4;
@device-silver-dark: darken(@device-silver, 10%);
@device-silver-panel: #222;

.device{
    position: relative;
    transform: scale(1);
    display: inline-block;
    font-size: 10px;

    // Modificator '.device.device--sm'
    &&--sm{
      font-size: 5.5px;
    }
}

.device-iphone-x {
  // height: 868px;
  // width: 428px;
  height: 86.8em;
  width: 42.8em;

  .device-frame {
    // box-shadow: inset 0 0 2px 2px @device-silver-dark, inset 0 0 0 7px @device-silver;
    // border-radius: 68px;
    // height: 868px;
    // padding: 28px;
    // width: 428px;
    // padding: 2.8em;
    background: @device-silver-panel;
    border-radius: 6.8em;
    height: 86.8em;
    padding: 1.2em;
    width: 42.8em;
    box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.15);
  }

  // 2436-by-1125-pixel resolution
  .device-content {
    // border-radius: 40px;
    // height: 812px;
    // width: 375px;
    // border-radius: 4em;
    // height: 81.2em;
    // width: 37.5em;
    border-radius: 6em;
    height: 84.2em;
    width: 40.5em;

    &.device-content--fm{
      background-color: #6F5163;
      text-align: center;

      .device-content__img{
        margin: 25em 5em 20em;
      }
      .device-content__btn{
        color: #6F5163;
        font-weight: 600;
      }
    }
  }

  // .device-stripe {
  //   &::after,
  //   &::before {
  //   //   border: solid rgba(#333, .25);
  //     border: solid rgba(51, 51, 51, 0.25);
  //     border-width: 0 7px;
  //     content: "";
  //     height: 7px;
  //     left: 0;
  //     position: absolute;
  //     // width: 100%;
  //     width: 40.8em;
  //     z-index: 9;
  //   }
  //   &::after {
  //     // top: 85px;
  //     top: 8.5em;
  //   }
  //   &::before {
  //     // bottom: 85px;
  //     bottom: 8.5em;
  //   }
  // }

  .device-header {
    position: absolute;
    background: @device-silver-panel;
    // border-bottom-left-radius: 20px;
    // border-bottom-right-radius: 20px;
    // height: 30px;
    // margin-left: -102px;
    // top: 28px;
    // width: 204px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    height: 3.0em;
    left: 50%;
    margin-left: -10.2em;
    top: 1.2em;
    width: 20.4em;

    &::after,
    &::before {
      content: "";
      height: 10px;
      position: absolute;
      top: 0;
      width: 10px;
    }
    &::after {
      background: radial-gradient(circle at bottom left, transparent 0, transparent 75%, @device-silver-panel 75%, @device-silver-panel 100%);
      left: -10px;
    }
    &::before {
      background: radial-gradient(circle at bottom right, transparent 0, transparent 75%, @device-silver-panel 75%, @device-silver-panel 100%);
      right: -10px;
    }
  }

  .device-sensors {
    &::after,
    &::before {
      content: "";
      position: absolute;
    }
    &::after {
      // border-radius: 3px;
      // height: 6px;
      // margin-left: -25px;
      // top: 32px;
      // width: 50px;
      // top: 3.2em;
      background: #444;
      border-radius: .3em;
      height: .6em;
      left: 50%;
      margin-left: -2.5em;
      top: 2em;
      width: 5em;
    }
    &::before {
      // height: 14px;
      // top: 28px;
      // width: 14px;
      // top: 2.8em;
      background: #444;
      border-radius: 50%;
      height: 1.4em;
      left: 50%;
      margin-left: 40px;
      top: 1.4em;
      width: 1.4em;
    }
  }

  // .device-btns {
  //   // background: @device-silver-dark;
  //   // height: 32px;
  //   // left: -3px;
  //   // top: 115px;
  //   // width: 3px;
  //   background: @device-silver-panel;
  //   position: absolute;
  //   height: 3.2em;
  //   left: -.3em;
  //   top: 11.5em;
  //   width: .3em;
    
  //   &::after,
  //   &::before {
  //     // background: @device-silver-dark;
  //     background: @device-silver-panel;
  //     content: "";
  //     // height: 62px;
  //     height: 6.2em;
  //     left: 0;
  //     position: absolute;
  //     // width: 3px;
  //     width: .3em;
  //   }
    
  //   &::after {
  //     // top: 60px;
  //     top: 6em;
  //   }
  //   &::before {
  //     top: 140px;
  //   }
  // }
  
  // .device-power {
  //   // background: @device-silver-dark;
  //   background: @device-silver-panel;
  //   height: 100px;
  //   right: -3px;
  //   position: absolute;
  //   top: 200px;
  //   width: 3px;
  // }
}