.demand-graph {
  max-width: 1050px;
  display: flex;
  justify-content: space-around;
  background-image: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 74px,
    rgba(214, 214, 214, 1) 75px,
    rgba(214, 214, 214, 1) 30px
  );
  &__bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    &:hover {
      .demand-graph__bar-inner--orange {
        cursor: pointer;
        background-color: #ffd9b4;
      }
    }
    &:hover {
      .demand-graph__bar-inner--red {
        cursor: pointer;
        background-color: #f5afb7;
      }
    }
  }

  &__bar-inner {
    height: var(--bar-height);
    width: 100px;
    margin: 2px 0;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      color: #172143;
      font-family: "ProximaNova-Semibold";
    }
  }

  &__bar-year {
    position: relative;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    color: #172143;
    font-family: "ProximaNova-Semibold";
  }

  &__bar--orange {
    .demand-graph__bar-year {
      &:before {
        content: " ";
        position: absolute;
        width: 130%;
        height: 3px;
        background-color: #f89638;
        top: -15px;
        left: 50%;
        transform: translate(-50%);
        z-index: 20;
      }
    }
  }

  &__bar--red {
    .demand-graph__bar-year {
      &:before {
        content: " ";
        position: absolute;
        width: 130%;
        height: 3px;
        background-color: #dc4076;
        top: -15px;
        left: 50%;
        transform: translate(-50%);
      }
    }

    .demand-graph__bar-year--long {
      &:before {
        width: 300%;
      }
    }
  }

  &__bar-inner--orange {
    background-color: #ffbb46;
    border: 1px solid #f89638;
    transition: all 0.1s;
  }

  &__bar-inner--red {
    background-color: #f24a5d;
    border: 1px solid #f24a5d;
    transition: all 0.1s;
  }
  &__bar-summ {
    margin-bottom: 10px;
    color: #172143;
    font-size: 17px;
    font-family: "ProximaNova-Regular";
    text-align: center;
  }

  // Popup's

  &__popup {
    display: none;
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
    background-color: #fff;
    min-width: 270px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  &__popup--right {
    left: 0;
  }
  &__popup-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 15px;
    background-color: #f24a5d;
    span {
      font-family: "ProximaNova-Semibold";
      color: #fff;
      font-size: 17px;
    }
  }
  &__descr {
    color: #777;
    font-size: 15px;
    font-family: "ProximaNova-Regular";
  }
  &__title {
    color: #2a2e3d;
    font-size: 17px;
    font-family: "ProximaNova-Regular";
  }
  &__popup-body {
    padding: 15px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__popup-body-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .demand-graph__bar--red .demand-graph__bar-year:before {
    width: 100%;
  }
  .demand-graph__bar--orange .demand-graph__bar-year:before {
    width: 100%;
  }

  .demand-graph__bar {
    max-width: 75px;
  }

  .demand-graph__bar-inner {
    max-width: 75px;
  }
  .demand-graph__bar-summ {
    font-size: 13px;
  }
}

@media only screen and (max-width: 452px) {
  .demand-graph__bar {
    max-width: 55px;
  }

  .demand-graph__bar-inner {
    max-width: 55px;
    span {
      transform: rotate(-90deg);
      top: 40%;
      left: 1%;
    }
  }

  .demand-graph__bar-summ {
    font-size: 10px;
  }
}
