.how-to-buy {
    background-color: #fafafa;
    .block__title {
        font-family: 'ProximaNova-Bold';
        font-size: 30px;
    }

    &__block {
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
        padding: 20px 42px;

        &--header {
            padding: 5% 10%;
        }
    }

    &__action {
        background-color: #f1f1f1;
        border-radius: 8px;
        padding: 25px;
        font-size: 16px;
        color: #23233d;
        font-family: 'ProximaNova-Regular';

        p {
            margin-bottom: 25px;
        }
    }

    &__step {
        text-transform: uppercase;
        font-size: 42px;
        color: #e2e2e2;
        font-family: 'ProximaNova-Bold';
        margin-top: 45px;
        margin-bottom: 45px;
        position: relative;
        &:before {
            position: absolute;
            content: url(../svg/gray-point.svg);
            width: 22px;
            height: 22px;
            top: 0;
            left: -51px;
        }
    }

    &__steps-wrap {
        position: relative;
        padding-left: 40px;
        &:before {
            position: absolute;
            content: '';
            width: 1px;
            height: 95%;
            top: 19px;
            left: 0;
            background-color: #e2e2e2;
        }
        img {
            max-width: 826px;
            margin-top: 45px;
        }
    }

    &__like {
        max-width: 120px;
    }

    &__footer-title {
        font-size: 24px;
        font-family: 'ProximaNova-Bold';
        margin-top: 12px;
        margin-bottom: 120px;
    }

    &__footer-descr {
        font-family: 'ProximaNova-Bold';
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    input {
        width: 40%;
        border-radius: 3px;
        border: 1px solid #707070;
        padding: 11px 17px;
        font-size: 16px;
        height: 42px;
        vertical-align: middle;
        border-right: 0;
        &:disabled {
            background-color: #fff;
        }
    }

    button {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1;
        color: #fff;
        height: 42px;
        vertical-align: middle;
        background-color: #fec57a;
        border-radius: 3px;
        padding: 11px 17px;
        border: 1px solid #707070;
        margin-left: -5px;
    }

    form {
        margin-top: 32px;
    }
}

@media only screen and (max-width: 860px) {
    .how-to-buy {
        word-break: break-word;
        &__steps-wrap {
            padding-left: 0;
            &:before {
                display: none;
            }
        }

        &__step {
            &:before {
                width: 16px;
                height: 16px;
                top: -6px;
                left: -25px;
            }
        }

        &__action {
            b {
                font-size: 14px;
                word-wrap: break-all;
            }
        }

        &__block--header {
            padding: 5%;
        }

        .block__title {
            font-size: 22px;
        }
        input {
            width: 100%;
            border-right: 1px solid #707070;
            margin-bottom: 15px;
        }
    }
}