@import '../base/variables';
// -----------------------------------------------
//                      Base
// -----------------------------------------------
// Block '.line'
.line{
    position: relative;
    outline: none;
    border: none;
    border-top: 1px solid #ddd;
    width: 262px;
    margin: 20px auto;

    &__square{
        //content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 60px;
        height: 20px;
        margin-top: -10px;
        margin-left: -30px;
        background: #fff url(../img/dice.svg) no-repeat center;
    }
}